<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - Medoxity</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <header>
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                <a class="navbar-brand" href="/">Medoxity</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="/Profile" data-i18n="profile">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Direct" data-i18n="direct">Direct</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Drugs" data-i18n="drugs">Drugs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/Document" data-i18n="documents">Documents</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/i18next/21.8.15/i18next.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-i18next/1.3.5/jquery-i18next.min.js"></script>
    <script src="~/js/localization.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
